@model List<Hairdresser>

<div class="background_base bkg_001"></div>
<h1 class="commonTitle">Mis peluquerías</h1>

@if (Model != null) {
    <div class="list_user_hairdressers">
        @foreach (Hairdresser hairdresser in Model) {
            string newAddress = hairdresser.Name + ", " + hairdresser.Address;
            <a asp-controller="Hairdresser" asp-action="ControlPanel" asp-route-hid="@hairdresser.HairdresserId" class="button_suggestions" data-newaddress="@newAddress">
                <span>@hairdresser.Name</span>
                <p>@hairdresser.Address</p>
                <p>@hairdresser.Phone</p>
            </a>
        }
    </div>
}

@section userHairdresser {
    <script src="~/js/google_maps.js"></script>
    <script>
        $(document).ready(function () {
            $('a.button_suggestions').each(function () {
                var newAddress = $(this).data('newaddress');
                getGoogleMapsIframe(newAddress, $(this));
            });
        });
    </script>
}